<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/css/card.css">
    <script src="/script.js"></script>
    <script src="/assets/js/board.js"></script>
    <script src="/assets/css/card.css"></script>
</head>
<body>


<div class="card-body">
    <div id="cardHeader" class="card-header"><img src="/assets/svg/contact_emblem_Annika_Michelstadt.svg" alt="label"></div>
    <div id="cardTitle" class="card-title"><h1></h1></div>
    <div id="cardDescription" class="card-description"><h3></h3></div>
    <div id="dueDate" class="due-date"><h3></h3></div>
    <div class="assigned-to">
        <div id="assignedTo"><h3>Assigned to:</h3><div id="participants" class="participants"></div>
    </div>
    <div class="card-subtasks">
        <div id="cardSubtasks"><h3>Subtasks</h3></div>
        <div id="cardChecklist" class="checklist"></div>
    </div>
    <div class="delete-edit">
        <div><img src="/assets/svg/delete.svg" alt="delete"><h3>Delete</h3></div><div><img src="/assets/svg/edit.svg" alt="Edit"><h3>Edit</h3></div>
    </div>
</div>


</body>
</html>




 








