<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/help.css">
    <link rel="icon" type="image/x-icon" href="/assets/svg/join-logo.svg">
    <title>Legal notice</title>
    <script src="/assets/js/w3_include.js"></script>
    <script src="/script.js"></script>
</head>
<body class="ml-mr-16px mt-80px mb-80px ln-body" onload="init()">
    <div id="mobileTamplateContent" w3-include-html="/assets/templates/mobile_template.html"></div>
    <div class="mt-128px info-title-and-img">
        <h1 class="">Legal Notice</h1>
        <img onclick="backToLoginPage()" class="info-arrow-left" src="/assets/svg/arrow-left-line.svg" alt="">
    </div>
    <h2 class="mt-24px">Imprint</h2>
    <ul class="Imprint-ul">
        <li>
            Giovanni Witulski, <br>
            Johannes Kroh & <br>
            Andreas Mägerlein
        </li>
        <li>Himmelbach, 4</li>
        <li>86925, Leeder</li>
    </ul>
    <h2 class="mt-24px">Acceptance of terms</h2>
    <div>
        By accessing and using <a class="a-help" href="/index.html">Join</a> (Product), you 
        acknowledge and agree to the following terms and 
        conditions, and any policies, guidelines, or 
        amendments thereto that may be presented to you 
        from time to time. We, the listed students, may 
        update or change the terms and conditions from 
        time to time without notice.
    </div>
    <h2 class="mt-24px">Scope and ownership of the product</h2>
    <div>
        <a class="a-help" href="/index.html">Join</a> has been developed as part of a student group
        project in a web development bootcamp at the
        <a class="a-help" href="#">Developer Akademie GmbH</a>. It has an educational
        purpose and is not intended for extensive personal
        & business usage. As such, we cannot guarantee
        consistent availability, reliability, accuracy, or any
        other aspect of quality regarding this Product.
        <br>
        The design of <a class="a-help" href="/index.html">Join</a> 
        is owned by the <a class="a-help" href="#">Developer 
        Akademie GmbH</a>. Unauthorized use, reproduction, 
        modification, distribution, or replication of the 
        design is strictly prohibited.
    </div>
    <h2 class="mt-24px">Disclaimer of warranties and limitation of liability</h2>
    <div>
        <a class="a-help" href="/index.html">Join</a> is provided "as is" without warranty of any kind, 
        whether express or implied, including but not limited 
        to the implied warranties of merchantability, fitness for 
        a particular purpose, and non-infringement. In no event will we, 
        the listed students, or the <a class="a-help" href="#">Developer Akademie</a>, 
        be liable for any direct, indirect, incidental, special, consequential 
        or exemplary damages, including but not limited to, damages for loss of profits, 
        goodwill, use, data, or other intangible losses, even if we have been 
        advised of the possibility of such damages, arising out of or in connection 
        with the use or performance of <a class="a-help" href="/index.html">Join</a>.
    </div>
</body>
</html>