<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/mobile_template.css">
    <title>Join</title>
    <script  src="/assets/js/remoteStorage.js"></script>
    <script src="/script.js"></script>
    <script src="/assets/js/w3_include.js"></script>
    <script src="/assets/js/login.js"></script>
</head>


<body onload="setSideMenuCharacters()" class="mobileHTML-body">
    <header>
        <img class="join-logo" src="/assets/svg/join-logo.svg" alt="join logo">
        <img class="join-logo-big" src="/assets/svg/join_logo_big.svg" alt="join logo">
        <span class="header-title-desktop">Kanban Project Management Tool</span>
    </header>

    <img class="join-logo-desktop" src="/assets/svg/join-logo-white.svg" alt="">

    <nav class="nav-mobile">
    </nav>

    <footer class="nav-footer">
        <a class="nav-footer-link" href="/assets/templates/privacy_policy_nologin.html">Privacy Policy</a>
        <a class="nav-footer-link" href="/assets/templates/legal_notice_nologin.html">Legal notice</a>
    </footer>
    
    <script>
    </script>
</body>
</html>